@keyframes flicker-soft {
  0%   { filter: brightness(0.9); }
  50%  { filter: brightness(1.1); }
  100% { filter: brightness(0.9); }
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff0000;
  }
  50% {
    box-shadow: 0 0 30px #ff4d4d, 0 0 60px #ff0000;
  }
  100% {
    box-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff0000;
  }
}


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  scroll-behavior: smooth;
}
